@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Oswald', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    
}

.night {
    background-color: rgb(47, 52, 55);
    color: rgba(255, 255, 255, 0.9);
}

#mode {
    height: calc(100vh);
    width: calc(100vw);
}

.day {
    background-color: white;
}

.d {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
    /* padding: 30px; */
}

#back {
    font-size: 1.5em;
    display: black;
}

#dday {
    display: inline-block;
}

.memu {
    font-size: 30px;
    /* width: 40px;
    height: 40px; */
    position: fixed;
    /* display: none; */
    right: 10px;
    bottom: -40px;
    transition: 0.5s;
    cursor: pointer;
    
}

.show {
    transition: 0.5s;
    display: block;
    bottom: 10px;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover {
    text-decoration: underline;
    color: unset ;
}